<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Article Page
    </h1>
    <ul>
        <!-- <li><a href="{% url 'year' 1 'june' %}">year 1</a></li>
        <li><a href="{% url 'year' 2  'feb'%}">year 2</a></li>
        <li><a href="{% url 'year' 3 'march'%}">year 3</a></li>
        <li><a href="{% url 'year' 4 'dec' %}">year 4</a></li> -->

        <!-- <li><a href="{% url 'year' 1 23 %}">year 1</a></li>
        <li><a href="{% url 'year' 2  24%}">year 2</a></li> -->
        
        <li><a href="{% url 'year' 3000 25%}">year 3</a></li>
        <li><a href="{% url 'year' 4000 26 %}">year 4</a></li>

    </ul>
</body>
</html>